/* Решение ситуации */
#solution-section
    min-height: rem(647px)

    .blue-label__text
        top: rem(22px)

.situation-block
    @extend %right-border
    padding-right: 0;

    .blue-label__text
        left: rem(-95px)

.situation-block,
.solution-block
    margin-top: rem(100px)

.solution-example__image
    width: 100%

.solution-example__caption
    font-size: rem(18px)
    line-height: rem(28px)
    padding-top: rem(55px)
    padding-bottom: rem(89px)
    padding-right: rem(75px)

.solution-list
    margin-top: rem(95px)

.solution-list__title
    font-size: rem(16px)
    font-weight: bold

.solution-list__num
    @include image("/solution/krug.svg")
    background:
        repeat: no-repeat
        position: 10px 14px
    position: relative
    min-height: rem(140px)
    margin-bottom: rem(60px)

.solution-list__char
    @extend %font-condensed
    font-weight: bold
    font-size: rem(144px)
    position: absolute
    top: rem(-15px)
    left: rem(64px)

.solution-list__symbol
    font-weight: bold
    font-size: rem(18px)
    color: $white
    background-color: $black
    border-radius: 50%
    padding: rem(6px) rem(8px)
    text-align: center
    position: absolute
    top: rem(34px)
    left: rem(10px)

.solution-list__desc
    // padding-top: 33px
    font-size: rem(14px)
    line-height: rem(20px)
    padding-top: rem(5px)