/* Кому интересно */
#who-cares-section
    min-height: rem(395px)

#who-cares-wrap
    background-color: $purple
    min-height: rem(295px)
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08), 0px 6px 12px rgba(0, 0, 0, 0.14)

.who-cares-list
    color: $white

.who-cares-list__item
    position: relative

.who-cares-list__title
    font-size: rem(18px)
    line-height: rem(21px)
    margin: rem(5px) 0

.who-cares-list__desc
    padding-right: rem(155px)

.who-cares-list__icon
    color: $gold
    position: absolute
    top: 0
    left: rem(-85px)
    font-size: rem(25px)
    border: 2px solid $white
    border-radius: 50%
    padding: rem(27px) rem(52px) rem(25px) rem(26px)