/* Кому интересно */
#who-cares-section
    min-height: rem(395px)

#who-cares-wrap
    background-color: $purple
    min-height: rem(295px)
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08), 0px 6px 12px rgba(0, 0, 0, 0.14)