/* 
 * Шрифт иконок
*/
@font-face {
  font-family: 'advantages';
  src: url('/font/advantages.eot?35414351');
  src: url('/font/advantages.eot?35414351#iefix') format('embedded-opentype'),
       url('/font/advantages.woff2?35414351') format('woff2'),
       url('/font/advantages.woff?35414351') format('woff'),
       url('/font/advantages.ttf?35414351') format('truetype'),
       url('/font/advantages.svg?35414351#advantages') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 .advantage-list__icon:before {
  font-family: "advantages";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.advantage-list__icon-1:before { content: '\e800';font-size: 3.7222rem; }
.advantage-list__icon-2:before { content: '\e801'; font-size: 3.7222rem;}
.advantage-list__icon-3:before { content: '\e802';font-size: 3.5rem;}

/*
 * Блочная модель 
 */
/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
}

img {
    max-width: 100%;
}

.bz-content {
  box-sizing: content-box;
}
.bz-content *,
.bz-content *::before,
.bz-content *::after {
  box-sizing: inherit;
}

.bz-border {
  box-sizing: border-box;
}
.bz-border *,
.bz-border *::before,
.bz-border *::after {
  box-sizing: inherit;
}

.section-header__text {
    text-align: center;
    font-size: 2.6667rem;
    text-transform: uppercase;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 1.3em;
    line-height: 1.2;
    font-weight: 700;
    color: #0d0d0d;
}

.section-header__text_gray {
    color: #0f5a47;
    padding-bottom: 1rem;
}

.section-header__text_small-padding {
    padding-bottom: 0;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.section-header__text + p {
    text-align: center;
    margin: .5em auto;
    font-size: 1rem;
    line-height: 1.2;
    color: #666666;
    max-width: 23.0556rem;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0.1px .5rem;
    position: relative;
    min-width: 17.7778rem;
}

/* 
 *  Шапка 
 */
#page-top {
    background-color: #61c4d9;
    display: flex;
}

.company-logo {
    margin: .5em;
    flex-shrink: 0;
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu-wrap {
    flex: 1;
}

.menu__item {
    flex: 1;
    margin: 0 1vw;
    align-self: center;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.menu__item > [href]{
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 1s;
    position: relative;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
#page-top > a:nth-last-of-type(1) {
    font-size: 1.3333rem;
    line-height: 1.6667rem;
    text-transform: uppercase;
    color: #ffffff;
    margin: .5em;
    transition: color 1s;
}

.menu__link:hover,
.menu-tel:hover{
    color: #FF8C00;
}

.menu__link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 2px;
    width: 0%;
    background-color: currentColor;
    transition: width 1s;
}
.menu__link:hover::after{
    width: 100%;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.menu__link:visited {
    color: #c1ff4c;
}

.banner__title{
    font-size: 2.3333rem;
    line-height: 3.3333rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}
.banner__subtitle{
    font-size: 1.1667rem;
    line-height: 1.2;
    color: #ffffff;
}

.differences{
    color: #fff;
    font-size: 0.8889rem;
    line-height: 1.2;
    color: #ffffff;
    padding: 0;
}

.hamburger{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1.3333rem;
    height: 1rem;
    z-index: 1;
    display: none;
}
.hamburger span{
    display: block;
    font-size: 0;
    width: 1.3333rem;
    height: 0.2222rem;
    background: #fff;
    margin-bottom: 0.2222rem;
}
/* 
 *  первая страница 
 */
#main-banner{
    background-color: #61c4d9;
    padding-left: 80px;
    padding-right: 80px;
}

.differences {
    display: flex;
    list-style: none;
}

.differences__item {
    margin: 0 1em 1em 0;
}

/* 
 *  Почему 
 */
.main{
    min-height: 36.6667rem;
}

.advantage-list {
    display: flex;
    margin-top: 3em;
    margin-bottom: 3em;
    justify-content: center;
}

.advantage-list__item {
    text-align: center;
    width: 19.1667rem;
    padding: 0 1.7778rem 2rem 1.7778rem;
}

.advantage-list__item-1,
.advantage-list__item-2,
.advantage-list__item-3{
    opacity: 0;
    animation-name: fadeInDown;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.advantage-list__item-2{
    animation-delay: 4.5s;
}
.advantage-list__item-3{
    animation-delay: 7.5s;
}
.advantage-list__item-1 .advantage-list__circle,
.advantage-list__item-2 .advantage-list__circle,
.advantage-list__item-3 .advantage-list__circle{
    animation-name: turnflip;
    animation-delay: 9s;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.advantage-list__item-2 .advantage-list__circle{
    animation-delay: 12s;
}
.advantage-list__item-3 .advantage-list__circle{
    animation-delay: 15s;
}


.advantage-list__circle {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background-color: #f2f5f4;
    padding: 25px;
    margin: 0 auto;
}

.advantage-list__title {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
    color: #000000;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.advantage-list__circle ~ p {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    color: #666666;
    margin: 1em 0 0 0;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.advantage-list__circle ~ p:not(:first-child){
    margin: 0;
}

.advantage-list__delimiter {
    position: relative;
}
.advantage-list__delimiter-dots {
    position: absolute;
    width: 82px;
    top: 58px;
    left: -41px;
}
.advantage-list__delimiter-dots span{
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 7px;
    border-radius: 50%;
    background-color: #f2f5f4;
    animation-name: rubberBand;
    animation-delay: 9.2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.advantage-list__delimiter-dots span:nth-child(2){
    box-shadow: 0 0 0 4px #f2f5f4;
    animation-delay: 9.4s;
}
.advantage-list__delimiter-dots span:nth-child(3){
    animation-delay: 9.6s;
}
/* 
 *  Слайдер 
 */
#slider {
    background-color: #f8faf9;
}

.slides {
    list-style: none;
}

.slides__item {
    display: flex;
}

.slides__params {
    padding: 0;
    display: flex;
    list-style: none;
}

.slides__article{
    margin: 0 3em;
}

.slides__subtitle{
    font-size: 1.3333rem;
    line-height: 1.2;
    font-weight: 500;
    color: #323232;
}

.slides__desc{
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    color: #666666;
}
.slides__params-item{
    margin-right: 3em;
}
.slides__params-prop{
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    color: #333333;
    margin: 0;
}
.slides__params-value{
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
    color: #333333;
    margin: 0;
}
.price{
    font-size: 3.3333rem;
    line-height: 3.3333rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #0d0d0d;
}
/* 
 *  Команда 
 */
#team {
    position: relative;
    min-height: 42.5556rem;
}

.teamlist {
    display: flex;
    justify-content: center;
}

.teamlist__member {
    margin-right: 1em;
    text-align: center;
    flex: 0 1 12.2778rem;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.teamlist__member:nth-of-type(2n){
    padding-top: 4em;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.teamlist__member:last-child {
    padding-top: 3em;
    margin-right: 0;
}

.teamlist__name {
    font-size: 1.1667rem;
    text-align: center;
    font-weight: 500;
    color: #323232;
}

.arrow {
    position: relative;
    font-size: 0;
}

.arrow::before {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-bottom: 6px solid #323232;
    top: -13px;
    left: 5px;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.teamlist__member:not(.teamlist__member_with-profession) .arrow::before { 
    border: 4px solid transparent;
    border-top: 6px solid #323232;
    top: -8px;
}



.teamlist .teamlist__member_with-profession .teamlist__name {
    margin-bottom: 0;
}

.teamlist__profession,
.teamlist__description {
    font-size: 1rem;
    margin: .2em 0;
    text-align: center;
}

.teamlist__profession {
    color: #281e1e;
}

.teamlist__description {
    color: #666666;
    font-weight: 300;
}

/*
 *   Форма заказа
 */
#order-form {
    background-color: #cfdeda;
    position: relative;
    min-height: 37rem;
    background-image: url(/img/form_back.jpg);
}

.form {
    display: flex;
    margin: 0 auto;
    max-width: 61.1111rem;
}

.form__column {
    flex: 1;
}

.form__row {
    display: flex;
    margin-bottom: 1.4em;
}

.form__elem {
    flex: 1;
    margin: 0 .5em;
}

.form__label {
    display: flex;
    flex-direction: column;
}

.form__label.form__label_option {
    flex-direction: row;
}

.form__label-text {
    font-size: 1rem;
    line-height: 1.6667rem;
    color: #0f5a47;
}

.form__input {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 2em;
    padding: .5em;
    border: 0;
    resize: none;
}

.form__input:hover {
    box-shadow: 0px 0px 0px 2px #d3e280;
}

.form__input:focus {
    box-shadow: 0px 0px 0px 2px #dde3bd;
    outline: 0;
}

.form__label_option::before,
.form__label_check::before {
    background-image: url(/img/form_sprite.png);
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: -3px;
    left: -35px;
}

.form__label_option:hover::before,
.form__label_check:hover::before {
    box-shadow: 0px 0px 0px 2px #d3e280;
}

.form__radio {
    display: none;
}

.form__radio:checked+.form__label_option::before {
    background-position-x: -75px;
}

.form__label_option,
.form__label_check {
    cursor: pointer;
    position: relative;
    margin-left: 35px;
    font-size: 1rem;
    color: #0f5a47;
    white-space: nowrap;
}

.form__label_option::before {
    background-position-x: -50px;
    border-radius: 50%;
}

.form__check {
    display: none;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.form__check:checked+.form__label_check::before {
    background-position-x: -25px;
}
/*
 *   Подвал
 */
#page-bottom {
    background-color: #3a3d3f;
    min-height: 4.4444rem;
}


/* 
 *   Кнопки
 */
.btn {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 1em 2em;
    border: 0;
    border-radius: 1.5em;
    box-shadow: 0px 6px 18px #a0a0a0;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background-color: #eee;
}

.btn:focus {
    background-color: #ccc;
}

.btn_black {
    background: #0f5a47;
    color: #fff;
}

.btn_black:hover {
    background-color: #0c4234;
}

.btn_black:focus {
    background-color: #091915;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.btn[type=reset] {
    background: rgba(0, 0, 0, 0);
    color: #0f5a47;
    box-shadow: unset;
    text-transform: none;
    font-weight: 400;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.btn[type=reset]:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0);
    color: #041510;
}

/*CSS - уровень 2 (сложные селекторы) - Задание 1*/
.btn[type=reset]:focus {
    background-color: rgba(0, 0, 0, 0);
}

/* 
 *   Декорации
 */

.decoration {
    background-size: contain;
    user-select: none;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
}

.decoration_pattern {
    user-select: none;
    width: 196px;
    height: 578px;
    background-image: url(/img/patern.png);
    top: -240px;
    right: 0;
}

.decoration_berry-1 {
    width: 135px;
    height: 112px;
    background-image: url(/img/berry1.png);
    top: -65px;
    right: 13px;
}

.decoration_berry-2 {
    width: 104px;
    height: 114px;
    background-image: url(/img/berry2.png);
    left: 35px;
    bottom: -45px;
}

.decoration_berry-3 {
    width: 161px;
    height: 227px;
    background-image: url(/img/malina_2202.png);
    left: 1px;
    bottom: -101px;
}
.decoration_leaves-1 {
    pointer-events: none;
    width: 1056px;
    height: 353px;
    background-image: url(/img/listya_2170.png);
    right: 29px;
    bottom: -54px;
    background-position: right;
}
.decoration_berry-4 {
    width: 387px;
    height: 217px;
    background-image: url(/img/yagody_2141.png);
    right: 91px;
    bottom: -43px;
}
.decoration_berry-1,
.decoration_berry-2,
.decoration_berry-3,
.decoration_berry-4{
    transition: transform 1s;
}
.decoration_berry-1:hover,
.decoration_berry-2:hover,
.decoration_berry-3:hover,
.decoration_berry-4:hover{

    transform: scale(1.2) rotateZ(4deg);
}

@media (max-width: 768px) {
    .menu-wrap,
    .menu-tel{
        display: none;
    }
    .hamburger{
        display: block;
    }

    #main-banner{
        padding: 0 1rem;
    }
    .banner{
        text-align: center;
    }
    .banner__title{
        font-size: 8vw;
        line-height: 8vw;
    }

    .differences{
        justify-content: center;
    }

    .slides{
        padding-left: 0;
    }
    .slides__item{
        flex-direction: column;
        text-align: center;
    }
    .slides__article{
        margin: 0;
    }
    .slides__params{
        justify-content: center;
    }

    .advantage-list{
        flex-direction: column;
    }
    .advantage-list__item{
        width: 100%;
    }
    .advantage-list__delimiter{
        display: none;
    }

    #team{
        min-height: 60rem;
    }
    .teamlist{
        flex-flow: row wrap;
        margin-bottom: 4rem;
    }
    .teamlist__delimiter{
        flex-basis: 100%;
        height: 0;
    }
    
    .teamlist .teamlist__member{
        padding-top: 0;
    }
    .teamlist .teamlist__member:nth-of-type(2n){
        margin-right: 0;
    }

    #order-form{
        min-height: 55rem;
    }
    .form{
        flex-direction: column;
        margin: 0 auto;
        max-width: 26.5556rem;
    }

    .form__column_last .form__row:nth-last-child(1),
    .form__column_last .form__row:nth-last-child(2),
    .form__column_last .form__row:nth-last-child(3)
    {
        justify-content: center;
    }
    .form__column_last .form__row:nth-last-child(2) .form__elem,
    .form__column_last .form__row:nth-last-child(3) .form__elem{
        flex: 0;
    }

    .decoration_leaves-1{display: none;}
    .decoration_pattern{width: 80px;height: 231px;top: -120px;}
    .decoration_berry-1{width: 86px;height: 85px;right: 0px;background-size: cover;}
    .decoration_berry-2{width: 83px;height: 90px;}
    .decoration_berry-3{width: 125px;height: 283px;bottom: -180px;}
    .decoration_berry-4{display: none;}
}


@media (max-width: 480px){
    .section-header__text{
        font-size: 8vw;
    }
    .form__label_option, .form__label_check{
        font-size: 4vw;
    }

    #team{
        min-height: 50rem;
    }

    .teamlist__member{
        flex: 0 1 47%;
    }

    .slides__image{
        width: 70vw;
    }

}