.blue-label
    margin: 0
    position: relative

.blue-label__text
    position: absolute
    color: $white
    font-size: 18px
    background-color: $blue
    margin: 0
    display: inline-block
    font-weight: bold
    padding: 10px 23px

    &::before,
    &::after
        content: ""
        @include image("/misc/label.svg")
        width: 5px
        height: 40px
        display: block
        position: absolute

    &::before
        top: 0
        left: -5px
    
    &::after
        top: 0
        right: -5px
        transform: rotate(180deg);