// Шрифты
$font-main: 'Roboto', sans-serif
$font-condensed: 'Roboto Condensed', sans-serif

// Размеры
$root-font-size: 14px

// Цвета
$black: #000
$white: #fff
$red: #FF5900

// Пути
$img-root-path: "/course/img"