body,
html {
    font-family: 'Alegreya Sans', sans-serif;
}

.header .header__text {
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 1.3em;
}

.header .header__text.header__text_gray {
    color: #0f5a47;
    padding-bottom: 1em;
}

.header .header__subtext {
    text-align: center;
}

.wrap {
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    padding: 0.1px 0;
    position: relative;
}

/* 
 *  Шапка 
 */
#start {
    background-color: #61c4d9;
}

#start .header {
    display: flex;
}

.menu {
    display: flex;
    list-style: none;
}

.menu .menu__item {
    margin: 0 1em;
}

.differences {
    display: flex;
    list-style: none;
}

.differences .differences__item {
    margin: 0 1em;
}

/* 
 *  Почему 
 */
.advantage-list {
    display: flex;
}

.advantage-list .advantage-list__item {
    text-align: center;
}

/* 
 *  Слайдер 
 */
#slider {
    background-color: #f8faf9;
}

.slides {
    list-style: none;
}

.slides .slides__item {
    display: flex;
}

.slides .slides__params {
    display: flex;
    list-style: none;
}

/* 
 *  Команда 
 */
#team .wrap {
    position: relative;
    min-height: 766px;
}

.teamlist {
    display: flex;
    justify-content: center;
}

.teamlist .teamlist__member {
    margin-right: 1em;
}

.teamlist .teamlist__member:nth-child(2) {
    padding-top: 4em;
}

.teamlist .teamlist__member:last-child {
    padding-top: 3em;
    margin-right: 0;
}

.teamlist .teamlist__member .teamlist__name {
    font-size: 21px;
    text-align: center;
    font-weight: bold;
    color: #323232;
}

.arrow {
    position: relative;
    font-size: 0;
}

.arrow::before {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-top: 6px solid #323232;
    top: -8px;
    left: 5px;
}

.teamlist__member_with-profession .arrow::before {
    border: 4px solid transparent;
    border-bottom: 6px solid #323232;
    top: -13px;
}

.teamlist .teamlist__member_with-profession .teamlist__name {
    margin-bottom: 0;
}

.teamlist .teamlist__member_with-profession .teamlist__profession,
.teamlist .teamlist__member_with-profession .teamlist__description {
    font-size: 18px;
    margin: .2em 0;
    text-align: center;
}

.teamlist .teamlist__member_with-profession .teamlist__profession {
    color: #281e1e;
}

.teamlist .teamlist__member_with-profession .teamlist__description {
    color: #666666;
}

/*
 *   Форма заказа
 */
#order-form {
    background-color: #cfdeda;
}

#order-form .wrap {
    position: relative;
    min-height: 666px;
    background-image: url(/img/form_back.jpg);
}

.form {
    display: flex;
    margin: 0 5em;
}

.form .form__column {
    flex: 1;
}

.form .form__row {
    display: flex;
    margin-bottom: 1.4em;
}

.form .form__elem {
    flex: 1;
    margin: 0 .5em;
}

.form .form__label {
    display: flex;
    flex-direction: column;
}

.form .form__label.form__label_option {
    flex-direction: row;
}

.form .form__label-text {
    margin-bottom: .3em;
    font-size: 18px;
}

.form .form__input {
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 18px;
    line-height: 2em;
    padding: .5em;
    border: 0;
    resize: none;
    box-sizing: border-box;
}

.form .form__input:hover {
    box-shadow: 0px 0px 0px 2px #d3e280;
}

.form .form__input:focus {
    box-shadow: 0px 0px 0px 2px #dde3bd;
    outline: 0;
}

.form__label_option::before,
.form__label_check::before {
    background-image: url(/img/form_sprite.png);
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: -3px;
    left: -35px;
}

.form__label_option:hover::before,
.form__label_check:hover::before {
    box-shadow: 0px 0px 0px 2px #d3e280;
}

.form__radio {
    display: none;
}

.form__radio:checked+.form__label_option::before {
    background-position-x: -75px;
}

.form__label_option,
.form__label_check {
    cursor: pointer;
    position: relative;
    margin-left: 35px;
    font-size: 18px;
}

.form__label_option::before {
    background-position-x: -50px;
    border-radius: 50%;
}

.form__check {
    display: none;
}

.form__check:checked+.form__label_check::before {
    background-position-x: -25px;
}
/*
 *   Подвал
 */
#bottom {
    background-color: #3a3d3f;
}

#bottom .wrap {
    min-height: 80px;
}


/* 
 *   Кнопки
 */
.btn {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em 2em;
    border: 0;
    border-radius: 1.5em;
    box-shadow: 0px 6px 18px #a0a0a0;
    cursor: pointer;
}

.btn:hover {
    background-color: #eee;
}

.btn:focus {
    background-color: #ccc;
}

.btn_black {
    background: #0f5a47;
    color: #fff;
}

.btn_black:hover {
    background-color: #0c4234;
}

.btn_black:focus {
    background-color: #091915;
}

.btn_transp {
    background: rgba(0, 0, 0, 0);
    color: #0f5a47;
    box-shadow: unset;
    text-transform: none;
    font-weight: normal;
}

.btn_transp:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0);
    color: #041510;
}

/* 
 *   Декорации
 */

.decoration {
    position: absolute;
    z-index: 1;
}

.decoration.decoration_pattern {
    width: 196px;
    height: 578px;
    background-image: url(../../img/patern.png);
    top: -240px;
    right: 0;
}

.decoration.decoration_berry-1 {
    width: 135px;
    height: 112px;
    background-image: url(../../img/berry1.png);
    top: -65px;
    right: 13px;
}

.decoration.decoration_berry-2 {
    width: 104px;
    height: 114px;
    background-image: url(../../img/berry2.png);
    left: 35px;
    bottom: -45px;
}